venv/
build/
*.egg-info/
*.so
vcpkg_installed/
.vscode/
.DS_Store
CMakeUserPresets.json
examples/data/
cmake_build/
data/
__pycache__/
.ipynb_checkpoints/
saved_resnet_model/
saved_densenet_model/
saved_vgg_model/
saved_bert_model/
saved_llm_model/